.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #28a3f4;
}

.text-area {
	-fx-font-family: System;
     -fx-text-fill: rgb(33, 33, 33);
     -fx-font-size: 18px;
}

.text-area .text {
     -fx-line-spacing: 18px;
}

.v-textarea { overflow-y: auto ! important;}
